.place__website{
    margin: 0;
    align-self: end;
  
}


@media (min-width:320px) and (max-width: 768px) {
    .place__website {
       
      
    }
}

@media (max-width: 320px) {
    .place__website {
        margin: 0 16px 0 16px;
        
    
    }
} 