.header__logo.css{
    position: absolute;
    width: 176px;
    height: 52px;
    left: 48px;
    top: 28px;
    background: #FFFFFF;
}

@media (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}