.lead__title {
    max-width: 720px;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}


@media (min-width: 692px) and (max-width: 768px) {

    .lead__title {
        min-width: 288px;
        max-width: 100%;
    }
}


@media (min-width: 321px) and (max-width: 691px) {

    .lead__title {
        min-width: 288px;
        max-width: 100%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 320px) {

    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}