.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

@media (min-width:321px) and (max-width: 768px) {
    .footer__copyright {
        line-height: 14px;
        padding-bottom: 24px;
    }
}

@media (max-width: 320px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px 118px 24px 16px;
    }
}