.lead__image{
    max-width: 984px;
    max-height: 615px;
    display: block;
}

@media (min-width: 769px) and (max-width: 1024px) {

    .lead__image {
        
        max-height: 580px;
        max-width: 100%;
    }
}

@media (min-width: 321px) and (max-width: 768px) {

    .lead__image {
       
        max-height: 480px;
        max-width: 100%;
    }
}

@media (max-width: 320px) {

    .lead__image{
        
        max-height: 200px;
        max-width: 100%;
    }
}