.lead__subtitle{
    width: 640px;
    height: 72px;
    margin: 32px auto 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

}

@media (min-width: 769px) and (max-width: 1024px) {

    .lead__subtitle {
      max-width: 640px;
      margin: 32px auto 56px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {

    .lead__subtitle {
        max-width: 100%;
        margin: 32px auto 56px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 320px) {

    .lead__subtitle {
      max-width: 288px;
      margin: 16px 0px 40px;
      font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
}