.place__link {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration-line: underline;
    transition: 0.2s;
}

.place__link:hover {
    opacity: 0.8;
}