.place__link{
    margin: 0;
    width: 456px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    color: #ffffff;
    text-decoration-line: underline;
    transition: 0.2s;
}

.place__link:hover{
    color:white;
    opacity: 0.8;
}