.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}


@media (min-width: 769px) and (max-width: 1280px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}


@media (min-width:321px) and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 320px) {
    .footer {
        flex-direction: column;
    }
}